<!DOCTYPE html>
<html lang="en" ng-app="pokeApp">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>PokeApp</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/styles/styles.css">


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="../public/scripts/app.js"></script>

</head>

<body>
    <div class="container" ng-controller="PokemonAppController as pokemonCtrl">
        <!-- <div ng-init="pokemonCtrl" class=""> -->

        <div ng-repeat="poke in pokemonCtrl.pokemon" class="poke">
          <h4><a href="https://super-crud.herokuapp.com/pokemon/{{poke._id}}">{{poke.name}}</a></h4>
            <img src="{{poke.image}}"><br>
            <button class='btn btn-danger'  ng-click="pokemonCtrl.deletePoke(poke._id)">Delete Poke</button>
        </div>

</body>

</html>
